@import url(https://fonts.google.com/specimen/Libre+Franklin);

:root {

  /*Primary*/
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  --fw-300:300;
  --fw-600:600;
  --fw-600:700;
  
  --default-fs:20px;
}


.container{
    width:80%;
    height:auto;
    padding:1rem;
    margin:0 auto;
    text-align: center;
}

h1{
    font-weight: var(--fw-300);
}